

.text-logo::after {
    content: "Studio";
    color: black;
}
.text-logo::before {
    content: Web;
    color: blue;
}

.main-nav li {
    display: inline;
    list-style-type: none;
}















































