body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif; 

}
header {
    display: inline-block;
}
nav {
    display: inline-block;
}
.main-menu{
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
ul {
    display: inline-block;
    list-style-type: none;
}

li {

 color: #2E2F42;
 width: 48px;
 height: 24px;

}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
}

button {
    color: #4D5AE5; 
    width:169px;
    height: 56px;
    top: 428px;
    left: 636px;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 4px;
    gap: 10px;
}
  .future {
    display: inline;
 }
h3 {
    size: 20px;
    line-height: 24px;
   
}

p {
    size: 16px;
    line-height: 24;
    color #4D5AE5; 

}














  

    